In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/AI_study/dataset.csv', index_col=0)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x= df.drop('trestbps',axis=1)
x

,sex,cp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,
63,1,3,233,1,0,150,0,2.3,0,0,1,1
37,1,2,250,0,1,187,0,3.5,0,0,2,1
41,0,1,204,0,0,172,0,1.4,2,0,2,1
56,1,1,236,0,1,178,0,0.8,2,0,2,1
57,0,0,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,241,0,1,123,1,0.2,1,0,3,0
45,1,3,264,0,1,132,0,1.2,1,0,3,0
68,1,0,193,1,1,141,0,3.4,1,2,3,0
57,1,0,131,0,1,115,1,1.2,1,1,3,0
57,0,1,236,0,0,174,0,0.0,1,1,2,0

In [4]:
y = df['trestbps']
y

age
63    145
37    130
41    130
56    120
57    120
     ...
57    140
45    110
68    144
57    130
57    130
Name: trestbps, Length: 303, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

In [6]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print(pred_dt)
print(clf_dt.score(X_train, y_train))

[128. 130. 123. 160. 110. 112. 118. 120. 105. 140. 105. 178. 150. 108.
 130. 110. 115. 128. 102. 110. 138. 125. 132.  94. 140. 150. 140. 174.
 150. 170. 155. 120. 110. 120. 112. 130. 120. 128. 128. 120. 150. 110.
 112. 138. 140. 160. 128. 130. 110. 138. 132. 112. 140. 120. 132. 178.
 110. 145. 200. 174. 135.]
1.0

In [7]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 28.622185594337854

In [8]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(X_train, y_train)

pred_rf = rf_clf.predict(X_test)

print(pred_rf)
print(rf_clf.score(X_train, y_train))

[132.06 141.67 125.9  124.9  132.44 127.99 137.74 129.04 122.03 129.63
 125.26 143.86 142.69 119.31 130.82 128.65 121.74 133.72 127.29 131.13
 133.94 130.18 137.65 126.19 130.22 142.2  142.71 130.83 134.77 141.77
 125.68 123.25 132.24 130.82 125.02 129.18 126.56 145.17 132.91 121.5
 131.57 131.88 128.72 130.91 133.73 133.56 124.15 130.66 123.03 125.05
 132.7  123.05 128.92 119.14 132.67 149.65 133.62 150.62 139.54 141.18
 123.48]
0.8520903200386237

In [9]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 20.260836606616223

In [10]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print(pred_lr)
print(clf_lr.score(X_train, y_train))

[134.89470128 135.7558117  135.85830673 125.363187   130.274889
 129.36060861 132.95828314 132.99000345 123.89922307 127.58817136
 122.53231547 134.644704   141.44790543 123.81978204 130.77899873
 127.40001773 125.19499657 128.0100512  131.65588767 128.69949195
 129.82832745 134.45873653 140.58384465 127.85874366 124.60263558
 145.88784409 133.24539075 123.47435463 130.5252132  130.56800984
 127.49661934 129.05739405 132.8758404  124.90898355 125.09138027
 132.6507287  132.28691284 144.52269198 119.76904004 129.6181702
 131.86920934 127.68454498 131.65661276 128.66987623 127.60591902
 134.15985348 128.84402982 130.11972832 134.91409823 123.24881599
 144.77313677 130.04542106 127.73939208 129.90534083 130.2040782
 142.64391561 131.29575707 137.25847392 133.4588068  129.37295811
 121.17067449]
0.11939868028252909

In [11]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.233348165605904

In [12]:
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print(pred_svm)
print(clf_svm.score(X_train, y_train))

[130.86668548 129.78620333 130.17199489 129.69656385 130.43533058
 130.51806831 129.90043411 129.39447557 129.58813723 129.57161003
 129.64197458 129.6984148  129.94387705 129.48116293 129.93784898
 129.8034714  130.2468335  129.70472808 130.66983601 129.58072305
 129.82867402 130.47877189 130.0188195  129.67811988 129.71321331
 131.51038064 129.48008343 129.78134997 130.24941163 129.94945515
 130.17225531 129.26278846 129.43515372 129.18895572 129.153412
 129.81833926 129.62022228 129.51568422 129.37006315 129.71895912
 129.90293667 129.98870067 130.31934271 129.77819923 130.64995678
 129.38545625 129.03097609 129.6658688  129.81568057 129.75990859
 130.1379419  129.57551525 130.72899489 129.1174453  131.07423518
 129.769651   130.89839146 129.45072082 129.0844871  129.32679481
 129.24047155]
-0.007626716281123214

In [13]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.444820245070684

In [15]:
from sklearn.neighbors import KNeighborsRegressor

# KNN 회귀 모델 생성
clf_knn = KNeighborsRegressor()
clf_knn.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
pred_knn = clf_knn.predict(X_test)
print(pred_knn)

# 훈련 데이터에 대한 모델의 성능 출력 (R-squared)
print(clf_knn.score(X_train, y_train))

[122.8 128.8 150.8 124.6 143.  127.8 116.8 126.6 118.2 134.6 124.8 137.4
 132.  134.4 131.6 128.2 127.4 124.6 120.  139.2 129.8 134.4 132.2 120.
 135.6 143.2 136.6 132.2 140.  118.4 122.8 130.6 119.2 130.6 124.  132.6
 125.2 129.6 129.6 127.4 128.  132.2 122.4 138.  136.  126.6 132.8 115.8
 130.8 123.2 144.4 138.2 131.6 116.  132.4 138.2 140.4 138.8 114.  128.2
 134. ]
0.2008041570041711

In [16]:
mse = np.sqrt(mean_squared_error(pred_knn, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 20.14506407429316